body{ font-family:arial; margin:0 !important; padding:0 !important; }
.border{border:2px solid #a1a1a1 !important; text-align:center; border-radius: 10px !important;}
.loginbtn{text-align: center;border-radius: 10px !important;background-color: #378d18 !important;height: 50px !important;color: #fff !important;text-shadow: 1px 2px 0px #444 !important; }
.loginbtn:hover{background-color: #2d7414 !important;}
.loginboxpading{padding:0 5px 10px 0 !important;}
.signupboxpading{padding:0 0px 10px 5px !important;}
.margintop10{ margin-top:20px !important;}
.marginbottom20{ margin-bottom:20px !important;}



.userprofile_image{width: 150px;height: 150px;margin: 0 auto 40px;background: #fff;box-shadow: 0 0 10px #949494;border-radius:0px !important;background-size: contain; position:relative; display: table;padding: 10px !important;}
.userprofile_image .userimg_byratio{background-size: contain;width: 100%;margin: auto;display: table-cell;vertical-align: middle;}
.userprofile_image .userimg_byratio img{width:100%;}

label{color:#5c5c5c; padding:5px 0 0; font-weight:normal !important;}
.leftbox{margin-bottom:40px;}
.leftmarg10{ margin-left:10px !important;}
.specs{line-height: 39px;padding-left: 30px!important;font-weight:normal !important;}
.checkboxtext{line-height: 39px;padding:0 20px!important;font-weight:normal !important;}
.userprofileimg{ float:right !important;}
.tb_cars{margin-bottom:10px !important;}
.marginbtom0{margin-bottom: 0px !important;}
.inputfild{padding:5px 10px; border:1px solid #d3d3d3; border-radius:8px; outline:none; width:100%;}
.inputfild:focus{border:2px solid #f28c25;}
.company_labelbg{background:#ffab2e; padding:10px 20px; color:#ffffff; text-shadow:1px 1px 1px #999; font-size:20px; margin:10px auto 20px;}
.forminnerspace{padding: 30px 10px !important;}
.paddinttop10{padding-top:10px;}




.textsize17{font-size:17px !important;}
::-webkit-input-placeholder {color:#a1a1a1 !important;;}
:-moz-placeholder {color:#a1a1a1 !important;}
::-moz-placeholder {color:#a1a1a1 !important;}
:-ms-input-placeholder {color:#a1a1a1 !important;}
.dashboardiconsposg{margin: 0 auto -40px !important;}
.spance{margin-bottom:10px;padding-left: 0px !important;padding-right: 0px !important; margin-top:0;}
.spance20{margin-bottom:20px;padding-left: 0px !important;padding-right: 0px !important; margin-top:0;}
.darkcolor{color:#5c5c5c;}
.leftbox{margin-bottom:40px;}
.header{padding:10px 0; background:#ffab2e; border-bottom:5px solid #000;}
.header h1{display: table-cell; vertical-align: middle; text-align: left; color:#d1bc07; font-weight:700;font-size:2.5em;}
.signinbg{ background:#212121;padding:2px 0;text-align: left;margin:1px 0 70px; }
.signinbg h3{color:#fff; margin:0; padding:0; text-transform: uppercase; font-size:1.5em;}
.removeshadow{box-shadow:none;}
.exit_iconbox{ margin:0 auto 40px; width:180px;}
.login_btnbg{background:#f2f2f2; padding:5px 0; margin:0px auto 70px;}
.loginbutton{background-image: url('../image/login_btn.png') !important;width: 173px;margin: 5px auto;background-repeat: no-repeat;padding: 16px 0 !important;
text-transform: uppercase;color: #fff;background-size: contain; }
.donebtn{background-color: #378d18;width: 173px;margin: 5px auto;background-repeat: no-repeat;padding: 16px 0 !important;text-transform: uppercase;color: #fff;background-size: contain; margin:0px auto;}
.registerbtn{background-color: #ffad32;width: 170px;margin:20px auto 0 !important;background-repeat: no-repeat;padding: 16px 0 !important;text-transform: uppercase;color: #fff;background-size: contain; margin:0px auto; text-shadow:1px 1px 3px #999; font-size:18px !important; border-radius:10px !important;}


.loginbutton .manageloginText{width: 60%;float: left;text-align: center;font-size: 16px;padding: 4px 3px 0 0;margin-left: 17px; cursor:pointer; font-weight:normal;text-shadow: 1px 1px 1px #444;}
.footer{padding: 10px 0 0px;background: #0f0f0f;bottom: 0;position:fixed;right: 0;left: 0;height: 57px;}
.footer .footerlist{ text-align:center; padding:0;}
.footer .footerlist li{ text-align:center; margin:10px 20px; padding:0; list-style:none; color:#fff; display:inline-block;}
.footer .footerlist li a{margin:0; padding:0; color:#fff;}

.badcarmlist{ margin:0 30px; padding:0; float: right;}
.badcarmlist li{background-image: url('../image/arrow_signup_progress.png');text-align: center;padding:0px 30px 2px 10px;
list-style: none;display: inline-block;background-repeat: no-repeat;background-position: right;}
.badcarmlist li a{margin:0; padding:0; color:#fff; font-size:15px; text-decoration:none; cursor:default;}
.badcarmlist li.active{background-image: url('../image/arrow_signup_progress_active.png');}
.badcarmlist li a.active{color:#378d18; font-weight:700;}





 
 
 /*home page start */
.topheaderbg{ background:#494748 !important}
.bgnone{ background:none !important; margin:0 10px;}
.textlogin{cursor:pointer !important; display: block;text-align: center;}
header,article,nav,footer,#content {margin:5px; border:1px solid #999; padding:10px; font-weight:normal;}
.minhight30{min-height:30px !important;}
.login_signbg{width: 50px !important;;height: 50px !important;; border: 2px solid #ffffff !important; margin:0 10px;} 
.sicon{line-height:50px !important; width:45px !important;}
.container_header{padding: 20px 10px 0 !important;}
.font12px{font-size:12px !important; color:#ffffff !important;}

.mannavi{background-image: linear-gradient(to bottom,#3f3f3f 0,#050505 100%) !important;}
.mannavi ul li{ padding: 7px 15px !important; } 
.mannavi ul li a{ font-size:16px !important; color:#fff !important  } 
.mannavi .active1{border-bottom: 5px solid #f00;background: #222;margin: -1px 0; padding:6px 30px !important; color:#ffffff !important;border-right:1px solid #515151;border-left:1px solid #515151;}
.mannavi .active1 a{color:#ffffff !important;}
.menudivderbg{background:#fcf8bb !important;}

/*maincontainer with map start*/
.navmargin{padding: 10px 10px 0;margin: 0 auto;border: none;}
.mapcantiner{ min-height:470px; background:url(../image/map_bg.jpg) repeat-x;}
.mapcantiner_inner{width:100%; height:auto;}
.mapcantiner_inner h2{width:100%; height:auto; text-align:center; margin:auto; overflow:hidden; background:#f5f5f5; border-bottom:#eaeaea 1px solid; font-family:Arial, Helvetica, sans-serif; font-size:50px; line-height:80px;}

.mapcantiner_inner .services{width:100%; height:auto; margin:auto; background:#fcf9f9; padding:40px 96px 40px 96px; border:none; overflow:hidden; border-bottom:#efefef 1px solid;} 

.mapcantiner_inner .services ul{list-style:none;}

.mapcantiner_inner .services ul li{float:left;}
.mapcantiner_inner .services ul li{font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#cccccc; width:200px; text-align:center; font-style:italic; margin-right:22px;}
.mapcantiner_inner .services ul li img{display:block; margin:auto;}

.mapcantiner_inner1 {width:100%; height:auto; padding:40px 96px 40px 96px !important; border:none;}

.mapcantiner_inner1 img{float:left;}
.mapcantiner_inner1 section {float:left; width:38%;  height:auto; padding:0px 0px 0px 10px;}

.mapcantiner_inner1 article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; padding:0px 5px 0px 5px; float:left}

.mapcantiner_inner1 ul{list-style:none; margin-left:0px !important;}


.mapcantiner_inner1 ul li img{background:#fff; padding:5px; border:#dadada 1px solid; margin:8px !important; float:left;}

.mapcantiner_inner1 ul li span{float:left; font-size:14px;}
.mapcantiner_inner1 ul li span .car_name{font-family:Arial, Helvetica, sans-serif; font-weight:bold; display:block; clear:both; margin:5px 0px 5px 0px;}

.mapcantiner_inner1 ul li span .candidate{font-size:14px; display:block; clear:both;  margin:5px 0px 5px 0px;}

.mapcantiner_inner1 ul li span .charge{font-size:14px; display:block; clear:both;}

.mapcantiner_inner1 ul li .button{background:#fbba00; border-bottom:#cb1604 5px solid; padding:10px 15px 5px 15px; color:#fff; margin:95px  5px 5px 15px; float:left; width:auto; height:auto;}

.mapcantiner_inner1 article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify;}



.mapcantiner_inner1 article img{float:left; margin:0px 18px 18px 0px;}


.mapcantiner_inner1 .car_box{width:100%; height:auto; border-bottom:#000 1px dashed; float:left; margin-bottom:20px; padding-bottom:10px;}
.mapcantiner_inner1 .car_box .heading{font-size:18px; color:#000; margin-bottom:5px;}

.mapcantiner_inner1 .car_box img{float:left; padding:5px; background:#f9f9f9; border:#ddd7d7 1px solid; margin:0px 10px 10px 0px;}

.mapcantiner_inner1 .car_box article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; margin-top:5px; padding:0px;}


.mapcantiner_inner1 h3{font-family:Arial, Helvetica, sans-serif; font-size:24px; margin:0px 0px 20px 0px;}

.mapcantiner_inner1 h3 a{text-decoration:none; color:#000;}

.mapcantiner_inner1 .testimonial_box{width:100%; border-bottom:#000 1px dashed; margin:0px 0px 40px 0px; padding:0px 0px 35px 0px;}

.mapcantiner_inner1 .testimonial_box .date{font-size:18px; color:#000; margin-bottom:5px;}

.mapcantiner_inner1 .testimonial_box .number{width:90px; height:90px; background:#fbba00; border-radius:50px; float:left; font-size:50px; text-align:center; font-weight:normal;  line-height:90px;}

.mapcantiner_inner1 .testimonial_box .image_box{width:111px; height:115px; background:#f5f5f5; float:left; border:#edeaea 1px solid; margin-left:24px; margin-right:20px; padding-top:7px;}

.mapcantiner_inner1 .testimonial_box article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; margin:0px 0px 0px ; line-height:24px;}

.mapcantiner_inner1 table{width:426px; height:auto; background:#f8f8f8; margin:auto; border:#d4d1d1 1px solid;}

.mapcantiner_inner1 table td{padding:5px 0px 5px 10px; border:#d4d1d1 1px solid;}

.mapcantiner_inner1 ul{list-style:none; margin-left:0px;}

.mapcantiner_inner1 ul li{font-family:Arial, Helvetica, sans-serif; font-size:14px; background:url(../image/star.png) no-repeat left 5px; padding:0px 0px 0px 15px; margin-left:0px;}



.mapcantiner_inner1 ol li{font-family:Arial, Helvetica, sans-serif; font-size:14px;}

.formsnav{ padding:0; margin:0;  background:#fbf9fa; }
.formsnav li{ list-style:none; float:left;border-right: 1px solid #b9b9b9;}

.formsnav li.last{ list-style:none; float:left;border-right:none;}
.formsnav li a{margin:0; padding: 10px 11px 5px; text-decoration:none; color:#070707; font-weight:normal !important; background:#fbf9fa; float:left;border-bottom: 5px solid #fbf9fa; text-transform:uppercase;}
.formsnav li a:hover{ background:#e5e5e5; border-bottom: 5px solid #e5e5e5;}
.formsnav li a.mactive{background: #fbba00;color: #fff;border-bottom: 5px solid #cb1603;}
hr{border:1px dashed #d2d2d2 !important}
.padding_margin0{margin:0 !important; padding:0 !important;}
.makebookingbtn{border-radius: 0 !important; background: #fbba00 !important;border-bottom: 5px solid #f00 !important;margin: 20px 0 !important;}
.selectyrcitybox{background:#fbba00; border-top:5px solid #f00;}
.innerbox{ margin: 10px auto 30px;}

.innerbox ul{list-style:none; margin:auto; overflow:hidden;}
.innerbox ul li{float:left; width:230px; margin:0px 60px 0px 0px; font-weight:normal;}
.innerbox ul li h4{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#000;}
.innerbox ul li img{display:block;}
.innerbox ul li .span{font-size:14px; color:#000; text-align:justify !important; font-weight:normal !important; border:none; padding:none; margin:0px !important;}

 .mapcantiner_inner1 .address{max-width:40%; height:auto; float:left;}
 .mapcantiner_inner1 .address h5{font-family:Arial, Helvetica, sans-serif; font-size:30px !important;}
 
  .mapcantiner_inner1 .form{max-width:55%; height:auto; float:left; margin-left:20px;}
  
.mapcantiner_inner1 .form  h5{font-family:Arial, Helvetica, sans-serif; font-size:30px !important;}

.mapcantiner_inner1 .form .text{width:31%; height:38px; float:left; background:#f5f5f5; border:#cccccc 1px solid; margin-right:10px; padding-left:15px;}

.mapcantiner_inner1 .form .message_box{width:98%; height:108px; float:left; background:#f5f5f5; border:#cccccc 1px solid; margin-right:10px; margin-top:12px; padding-left:15px; padding-top:15px;}

.mapcantiner_inner1 .form .button{width:134px; height:33px; border-bottom:#cb1604 6px solid; background:#fbba00; color:#fff; margin-top:10px;}
.bgnone{ background:none !important;}
.webfooter{background:#000000;}
.webfooter p{text-align:center; margin:20px auto; color:#fff; font-size:14px;}
.webfooter a{ color:#fff; margin:40px 10px 10px;}
.webfooter a:hover{ color:#a0a0a0;}
.socialneticons{ background:#FFF; padding:10px !important; margin:0 10px; border-radius:180px !important; color:#000 !important; width:30px; height:30px;}


/*maincontainer with map end*/




 
 /*home page end*/
 
 @media(max-width:1024px)
 {
.mapcantiner_inner1{width:100%; height:auto; padding:none!important; border:none;}

 }
 
 @media(max-width:480px)
 {
.testimonial_box{width:100%; border-bottom:#000 1px dashed; margin:0px 0px 40px 0px; padding:0px 0px 35px 0px;}

.mapcantiner_inner1 .testimonial_box .number{width:90px; height:90px; background:#fbba00; border-radius:50px; margin:auto !important;  font-size:50px; text-align:center; font-weight:normal;  line-height:90px; display:block !important;}

.mapcantiner_inner1 .testimonial_box .image_box{width:111px !important; height:115px !important; background:#f5f5f5; float:left; border:#edeaea 1px solid; margin-left:24px; margin-right:20px; padding-top:7px; display:block !important;}

.mapcantiner_inner1 .testimonial_box article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; margin:0px 0px 0px ; line-height:24px; display:block !important;}

 .mapcantiner_inner1 table{width:350px !important; height:auto; background:#f8f8f8; margin:auto; border:#d4d1d1 1px solid;}

.mapcantiner_inner1 table td{padding:5px 0px 5px 10px; border:#d4d1d1 1px solid;}
 
 }


 @media(max-width:360px)
 
 {
	 .mapcantiner_inner1 {width:100%; height:auto;  border:none; padding:40px !important; }

.testimonial_box{width:100%; border-bottom:#000 1px dashed; margin:0px 0px 40px 0px !important; padding:0px 0px 35px 0px;}

.mapcantiner_inner1 .testimonial_box .number{width:90px; height:90px; background:#fbba00; border-radius:50px; margin:auto !important;  font-size:50px; text-align:center; font-weight:normal;  line-height:90px; display:block !important;}

.mapcantiner_inner1 .testimonial_box .image_box{width:111px !important; height:115px !important; background:#f5f5f5; float:left; border:#edeaea 1px solid; margin-left:24px; margin-right:20px; padding-top:7px; display:block !important;}

.mapcantiner_inner1 .testimonial_box article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; margin:0px 0px 0px ; line-height:24px; display:block !important;}

 .mapcantiner_inner1 table{width:300px !important; height:auto; background:#f8f8f8; margin:auto; border:#d4d1d1 1px solid;}

.mapcantiner_inner1 table td{padding:5px 0px 5px 10px; border:#d4d1d1 1px solid;}
 }
 
 
  @media(max-width:320px)
 
 {
	 .mapcantiner_inner1 {width:100%; height:auto;  border:none; padding:20px !important; }

.testimonial_box{width:100%; border-bottom:#000 1px dashed; margin:0px 0px 40px 0px !important; padding:0px 0px 35px 0px;}

.mapcantiner_inner1 .testimonial_box .number{width:90px; height:90px; background:#fbba00; border-radius:50px; margin:auto !important;  font-size:50px; text-align:center; font-weight:normal;  line-height:90px; display:block !important;}

.mapcantiner_inner1 .testimonial_box .image_box{width:111px !important; height:115px !important; background:#f5f5f5; float:left; border:#edeaea 1px solid; margin-left:24px; margin-right:20px; padding-top:7px; display:block !important;}

.mapcantiner_inner1 .testimonial_box article{font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:normal; border:none; text-align:justify; margin:0px 0px 0px ; line-height:24px; display:block !important;}

 .mapcantiner_inner1 table{width:280px !important; height:auto; background:#f8f8f8; margin:auto; border:#d4d1d1 1px solid;}

.mapcantiner_inner1 table td{padding:5px 0px 5px 10px; border:#d4d1d1 1px solid;}
 
 }
 
 
 
 
@media(min-width:300px) {
.loginboxpading{padding:0 0px 9px 0 !important;}
.signupboxpading{padding:0 0px 9px 0px !important;}

 }
 
 @media(min-width:290px) and (max-width:767px) {
.userprofileimg{ float:none !important;} 
.formsnav li{width:100% !important; border:none !important;}
.formsnav li a{width:100% !important; text-align:center !important;}

 }
 
  


.left_pannel{width:220px; height:auto; background:#f5f5f5; padding:10px 5px 5px 10px; text-align:left; float:left;}
.left_pannel .left_link{ }
.left_pannel .left_link :hover{background:#fff;}
.left_pannel .left_link a{background:none; color:#5c5c5c; line-height:30px; border-top:#d4d3d3 1px solid; display:block; padding:0px 0px 0px 10px; font-size:12px;}
.left_pannel .left_link a:hover{background:#fff; text-decoration:none;}

.center_pannel{width:642px; float:left; margin:0px 15px 0px 15px;}
.center_pannel .span{font-size:20px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.center_pannel .box{width:640px; height:auto; border:#d4d3d3 1px solid; float:left; margin-bottom:10px;}
.box .heading{font-size:20px; color:#000000; text-align:left; border-bottom:#d4d3d3; border-bottom:#d4d3d3 1px solid; display:block; margin:5px 10px 5px;}

.box .image_box{width:160px; height:auto; padding:5px; float:left; background:#fff; text-align:center; margin:5px 45px 5px 5px;}
.box .image_box .image{width:150px; height:100px; padding:3px; background:#fff; border:#d6d4d4 1px solid;}

.box .image_box .name{text-align:center; font-size:12px; color:#5c5c5c;}
.box .image_box .remove{text-align:center; overflow:hidden; margin-left:18px !important; display:block;}

.box p{margin:5px 15px 5px 15px; font-size:12px; color:#5c5c5c;}

.right_panel{width:260px; float:right; background:#f5f5f5; padding:5px 10px 0px 15px;}
.right_panel .span1{text-align:center; font-size:20px; line-height:24px; margin:auto; display:block; margin-top:10px;}
.right_panel .span2{text-align:center; font-size:20px; line-height:24px; margin:auto; line-height:30px; display:block; background:#fbba00; padding:5px 10px 5px 10px; color:#fff; border-radius:8px; margin-bottom:10px;}
.right_panel label{font-size:12px; color:#5c5c5c; float:left;}
.right_panel .input{width:230px; height:33px; border-radius:5px; margin-bottom:10px; border:#999999 1px solid;}
.right_panel .time{width:109px; height:33px; border-radius:5px; margin-right:5px; margin-bottom:10px;}
.right_panel .address1{width:230px; height:100px; float:left; border-radius:5px; margin-bottom:10px; border:#999999 1px solid;}
.right_panel .continue{background:#fbba00; padding:5px 20px 5px 20px; font-size:18px; color:#fff; margin:auto; display:block; margin-top:10px; border-bottom:#cb1604 3px solid;} 
.right_panel .or{margin:auto; display:block; text-align:center; font-size:18px;}

.right_panel .create{background:#d7d2d2; padding:5px 5px 5px 5px; font-size:18px; color:#fff; margin:auto; display:block; margin-top:10px; border-bottom:#908c8c 3px solid; margin-bottom:10px;}